/* cuttlebelle specifics */
h1, h2, #banner {
  padding-left: 1rem;
}

h1 {
  color: #FFEDB2;
  background-color: #C2A649;
  font-weight: bold;
}

h2 {
  color: #C2A649;
  font-weight: bold;
}

h3, h4, h5, h6 {
  color: #9A3A73;
  font-weight: bold;
  margin-left: 1rem;
}

h3, .h3 {
  font-size: 1.5rem;
}

h4, .h4 {
  font-size: 1.3rem;
}

h5, .h5 {
  font-size: 1.15rem;
}

h6, .h6 {
  font-size: 1rem;
  font-style: italic;
}

footer{
  color: #333333;
  background-color: #C2A649;
}
footer p {
  font-size: 75%;
}
footer li[site-option="big"] {
  font-size: 150%;
  margin-left: 1em;
  margin-right: 1em;
}
footer li {
  display: inline;
}
footer a {
  color: #9A3A73;
}

#banner > div > div > p{
  margin-top: 0.5rem;
  margin-bottom: 0.4rem;
}

#demo_output {
  background-color: lightgrey;
  font-family: "Ubuntu Mono", "Consolas", "Mono";
  font-size: 0.9rem;
  white-space: pre;
}